/* 设计稿1920 */
html {
  font-size: 5.208333vw;
  width: 100%;
  height: 100%;
}
/* 1200 62.5   1920 100    w/19.2 */
@media screen and (max-width: 1300px) {
  html {
    font-size: 67.7083px;
  }
  #app {
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
body {
  font-size: 18px;
}
